[Unit]
Description=SwapControl
Documentation=man:swapcontrol(8)

[Service]
Type=simple
ExecStart=/usr/bin/swapcontrol

[Install]
WantedBy=multi-user.target