[Unit]
Description=SwapControl
Documentation=man:swapcontrol(8)

[Service]
Type=simple
ExecStart=/home/Documents/lab/swap_service

[Install]
WantedBy=multi-user.target
